#spieler{
    width: 100px;
    height: 100px;
    background-color: rgb(195, 31, 149);
    position: absolute;
    top: 100px;
    left: 100px;
}
#ziel{
    width: 100px;
    height: 100px;
    background-color: rgb(86, 195, 31);
    position: absolute;
    top: 400px;
    left: 300px; 
}
#muenze {
    position: absolute;
    top: 600px;
    left: 900px;
    background-color: gold;
    width: 100px;
    height: 100px;
}
