#spieler{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 100px;
    left: 100px;
}
#spieler img {
    width: 200%;
    height: 200%;
}
#kobold{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 400px;
    left: 300px; 
}
#kobold img {
    width: 150%;
    height: 150%;
}
#muenze {
    position: absolute;
    top: 600px;
    left: 900px;
    width: 75px;
    height: 75px;
}
#muenze img {
    width: 100%;
    height: 100%;
}
#pokal {
    position: absolute;
    top: 600px;
    left:1200px;
    width: 100px;
    height: 100px;
}
#pokal img {
    width: 90%;
    height: 90%;
}