body {
    margin: 0;
    padding: 0;
    background-image: url('./img/mapTwo-Background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#map2 {
    position: fixed;
    inset: 0;
    display: flex;
    flex-wrap: wrap;
    z-index:1000;
}

.tile {
    width: calc(100vw / 24);
    height: calc(100vh / 12);
    display: block;
    z-index:500;
    box-sizing: border-box;
}
