#spieler {
    position: absolute;
    top: 100px;
    left: 300px;
    width: 278px;
    height: 510px;
}
#spieler img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#münze {
    position: absolute;
    top: 200px;
    left: 200px;
    background-color: gold;
    width: 50px;
    height: 50px;
}