    body {
        background-color: rgb(108, 175, 213);
    }

    header {
        background: url("k.jpg") no-repeat;
        color: white;
        font-family: Arial, Helvetica;
        font-size: 5.4em;
        height: 2.5em;
        padding-left: 1 em;

    }.inhalt {
        background-color: rgb(130, 178, 211);
    }
    #nav {
        list-style-type: none;
        margin: 0;
    }

    #klotz{
        width: 100px;
        height: 100px;
        background-color: green;
        position: absolute;
        top: 100px;
        left: 100px;
    }