        /* #spieler {
            width: 100px;
            height: 100px;
            position: absolute;
            top: 100px;
            left: 100px;
            
        }     */



body{
    margin:0;
    background:skyblue;
}

#spiel{
    position:relative;
    width:100vw;
    height:100vh;
    overflow:hidden;
}

#spieler{
    position:absolute;
    width:50px;
    height:80px;
    background-color: red;

    left:100px;
    bottom:0;
}

.collider{
    position:absolute;
    background-color: limegreen;
}


/* Boden */
#ground1{
    width:100vw;
    height:20px;
    left:0;
    bottom:0;
}


/* kleine Plattform links */
#platform1{
    width:200px;
    height:15px;
    left:100px;
    bottom:120px;
}


/* Plattform in der Mitte */
#platform2{
    width:250px;
    height:15px;
    left:450px;
    bottom:220px;
}


/* Plattform rechts */
#platform3{
    width:180px;
    height:15px;
    left:800px;
    bottom:350px;
}


#spike{
    width: 70px;
    height: 70px;
    left: 700px;
    bottom: 20px;
    z-index: 1001;
    background: transparent;
    overflow: hidden;
}
#kobold{
    width: 30px;
    height: 60px;
    left: 900px;
    bottom: 20px;
    z-index: 1001;
    background: transparent;
    overflow: hidden;
}
#spike img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    transform: scale(0.9);
    transform-origin: center bottom;
}
#kobold img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    transform-origin: center bottom;
}